<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922951008028-q0ibvstk5sftsnn3nscofft2oss2ca8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922951008028-q0ibvstk5sftsnn3nscofft2oss2ca8o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>922951008028-2hsn3nhciqcq2bqu8hqueag6mfarfst2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAnqxDUpD25NFFF0gfeglBACgZP-r5s-P8</string>
	<key>GCM_SENDER_ID</key>
	<string>922951008028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>appastra-f2ada</string>
	<key>PROJECT_ID</key>
	<string>appastra-f2ada</string>
	<key>STORAGE_BUCKET</key>
	<string>appastra-f2ada.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922951008028:ios:e4caf0798108770ee0c4d9</string>
</dict>
</plist>